		<script src="edit.js"></script>
		<form>
			<fieldset>
				<legend>Edit Row</legend>
				<label for="name">Name:</label>
				<input id="name" type="text" value={{name}}>
				
				<label for="reps">Reps:</label>
				<input id="reps" type="text" value={{reps}}>
				
				
				<label for="weight">Weight:</label>
				<input id="weight" type="text" value={{weight}}>
				
				<label for="date">Date:</label>
				<input id="date" type="text" value={{date}}>
				
				<label for="lbs">lbs 1 or 0:</label>
				<input id="lbs" type="text" value={{lbs}}>
				
				<input type="hidden" id="id" value={{id}}>
				
				<input type="submit" id="add" value="Edit">
			</fieldset>
		</form>