<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Reps</th>
			<th>Weight</th>
			<th>Date</th>
			<th>Lbs</th>
			<th>Delete</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody id="tbody">
		{{#each rows}}
			<tr>
				<td>{{this}}{{this.name}}</td>
				<td>{{this.reps}}</td>
				<td>{{this.weight}}</td>
				<td>{this.date}}</td>
				<td>{{this.lbs}}</td>
				<input type="hidden"name="id" value={{this.id}}>
				<td><input type="submit" id="delete" value="Delete"></td>
				<td><input type="submit" id="edit" value="Edit"></td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{#if reset}}
	<p>{{{reset}}}</p>
{{/if}}