	<script src="scripts.js"></script>
	<!-- FORM FOR SUBMITTING NEW ENTRY -->
		<form>
			<fieldset>
				<legend>Add Row</legend>
				<label for="name">Name:</label>
				<input id="name" type="text" required>
				
				<label for="reps">Reps:</label>
				<input id="reps" type="text" >
				
				
				<label for="weight">Weight:</label>
				<input id="weight" type="text" >
				
				<label for="date">Date:</label>
				<input id="date" type="text" >
				
				<label for="lbs">lbs 1 or 0:</label>
				<input id="lbs" type="text" >
				
				<input type="submit" id="add" value="Add">
			</fieldset>
		</form>
		<!-- TABLE FOR DB ENTRIES -->
		<table id="dataTable">
			<thead>
				<tr>
					<th>Name</th>
					<th>Reps</th>
					<th>Weight</th>
					<th>Date</th>
					<th>Lbs</th>
					<th>Delete</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody id="tbody">
				{{#each rows}}
				<tr>
					<td>{{this.name}}</td>
					<td>{{this.reps}}</td>
					<td>{{this.weight}}</td>
					<td>{{this.date}}</td>
					<td>{{this.lbs}}</td>
					<td>
						<form>
							<input type="hidden" value={{this.id}}>
							<input type="submit" value="Delete" onclick="deleteRowTr('dataTable',this);deleteRowId({{this.id}}); return false" />
						</form>
					</td>
					<td>
						<form>
							<input type="hidden" value={{this.id}}>
							<input type="submit" value="Edit" onclick="editRow({{this.id}}); return false"/>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>

				{{#if reset}}
					<p>{{{reset}}}</p>
				{{/if}}